src/main/resources/xsd/Integ Req 1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Header" type="HeaderType"/>
  <xs:element name="Body" type="BodyType"/>
  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element type="xs:string" name="InquiryCode"/>
      <xs:element type="xs:string" name="ProcessCode"/>
      <xs:element type="xs:string" name="OrganizationCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VIN_Random_NumberType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Societe_GestionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_DemandeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Numero_DemandeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Code_AgenceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Categorie_AffaireType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Type_PrelevementType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Montant_DemandeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Duree_DemandeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Mensualite_DemandeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Prem_LoyerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Montant_ApportType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Prix_VehiculeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_Mise_CircType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Taux_InteretType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Depot_GarantieType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_NUM_LANCEMENTType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Echeance_reservationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Echeance_confirmationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_reservationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_confirmationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Code_FournisseurType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Code_GestionnaireType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Flag_FlotteType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Prix_Vente_CatalogueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_MarqueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_GenreType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_GammeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RecordNRType">
    <xs:sequence>
      <xs:element type="VIN_Random_NumberType" name="VIN_Random_Number"/>
      <xs:element type="VIN_Societe_GestionType" name="VIN_Societe_Gestion"/>
      <xs:element type="VIN_Date_DemandeType" name="VIN_Date_Demande"/>
      <xs:element type="VIN_Numero_DemandeType" name="VIN_Numero_Demande"/>
      <xs:element type="VIN_Code_AgenceType" name="VIN_Code_Agence"/>
      <xs:element type="VIN_Categorie_AffaireType" name="VIN_Categorie_Affaire"/>
      <xs:element type="VIN_Type_PrelevementType" name="VIN_Type_Prelevement"/>
      <xs:element type="VIN_Montant_DemandeType" name="VIN_Montant_Demande"/>
      <xs:element type="VIN_Duree_DemandeType" name="VIN_Duree_Demande"/>
      <xs:element type="VIN_Mensualite_DemandeType" name="VIN_Mensualite_Demande"/>
      <xs:element type="VIN_Prem_LoyerType" name="VIN_Prem_Loyer"/>
      <xs:element type="VIN_Montant_ApportType" name="VIN_Montant_Apport"/>
      <xs:element type="VIN_Prix_VehiculeType" name="VIN_Prix_Vehicule"/>
      <xs:element type="VIN_Date_Mise_CircType" name="VIN_Date_Mise_Circ"/>
      <xs:element type="VIN_Taux_InteretType" name="VIN_Taux_Interet"/>
      <xs:element type="VIN_Depot_GarantieType" name="VIN_Depot_Garantie"/>
      <xs:element type="VIN_NUM_LANCEMENTType" name="VIN_NUM_LANCEMENT"/>
      <xs:element type="VIN_Echeance_reservationType" name="VIN_Echeance_reservation"/>
      <xs:element type="VIN_Echeance_confirmationType" name="VIN_Echeance_confirmation"/>
      <xs:element type="VIN_Date_reservationType" name="VIN_Date_reservation"/>
      <xs:element type="VIN_Date_confirmationType" name="VIN_Date_confirmation"/>
      <xs:element type="VIN_Code_FournisseurType" name="VIN_Code_Fournisseur"/>
      <xs:element type="VIN_Code_GestionnaireType" name="VIN_Code_Gestionnaire"/>
      <xs:element type="VIN_Flag_FlotteType" name="VIN_Flag_Flotte"/>
      <xs:element type="VIN_Prix_Vente_CatalogueType" name="VIN_Prix_Vente_Catalogue"/>
      <xs:element type="VIN_MarqueType" name="VIN_Marque"/>
      <xs:element type="VIN_GenreType" name="VIN_Genre"/>
      <xs:element type="VIN_GammeType" name="VIN_Gamme"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VIN_RoleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Progressif_RoleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Identifiant_ClientType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Type_ClientType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Forme_JuridiqueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Part_PMType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_SexeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_NaissanceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_Creat_EntrType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Nouveau_Client_ONType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_NationaliteType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_EmbaucheType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_Creation_RCType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Situation_LogementType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_ProfessionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Code_ActiviteType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_Integration_SocieteType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Code_VilleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Code_BanqueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_Relation_BanqueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Nbr_Anciens_DossiersType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Black_ListType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Revenus_MensuelsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Autre_RevenusType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Revenu_ConjointType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Autre_ChargesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Charge_ImmType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Credit_LogementType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Max_Nbr_ImpayesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Mt_ImpayesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Max_Nbr_Mois_RetardType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Total_Mt_NegativeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Solde_InitType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Credit_M_1Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Credit_M_2Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Credit_M_3Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Debit_M_1Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Debit_M_2Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Debit_M_3Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_SourceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Reference_Progressif_RoleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Numero_ChequiersType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_EffetType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_SortieType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Statut_ChequiersType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Montant_ChequierType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Produit_AffaireType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_ContentieuxType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Nbr_ImpayesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Nbr_Impayes_12Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_Premiere_EcheanceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_Creation_AffaireType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_CompensationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_CRDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_SOLDEType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Statut_AffaireType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Mt_Premiere_Echeanche_Ancienne_AffaireType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Nbr_IncidentsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Loyer_EkipType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Loyer_Ekip_CompType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Loyer_FrontType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Role_Ancienne_AffaireType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_MarcheType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_SegmentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_EmployeurType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_FonctionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_DATE_FIN_CONTRATType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_FLAG_SINISTREType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_TYPE_GARANTIEType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_MONTANT_EXPERTISEType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_DATE_CERTIFICATType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_QUOTE_PART_GRType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_VILLE_BIENType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Rang_GarantieType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_TYPE_CONTRATType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_ECHEANCE_RESTANTEType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_ONUType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_annee_bilanType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_CTRL_INFORISKType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_STOCKSType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_CREANCE_ACTIF_CIRCType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_TRESORERIE_ACTIFType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_TOTAL_ACTIFType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_CAPITAUX_PROPRESType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_DETTES_FINANCEMENTType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_PROVISION_RISQUE_CHARGEType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_ECART_CONV_PASSIF_FIN_PERMANENTType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_DETTES_PASSIF_CIRCType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_AUTRES_PROVISION_RISQUE_CHARGEType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_ECART_CONV_PASSIF_CIRCType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_TOTAL_PASSIF_CIRCType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_CHIFFRE_AFFAIRE_N1Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_CHIFFRE_AFFAIRE_N0Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_VARIATION_STOCK_PDTType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_AUTRES_PDT_EXPLType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_ACHAT_REVENDU_MARCHANDISEType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_ACHAT_CONS_MATIERE_FOURNITUREType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_DOTATION_EXPLOITATION_N1Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_DOTATION_EXPLOITATION_N0Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_CHARGE_FINType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_RESULTAT_FINType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_RESULTAT_NET_N1Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_RESULTAT_NET_N0Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_IE_AFFAIRE_OLDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Flag_ReportType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VIN_Date_Dernier_IMPType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RecordType">
    <xs:sequence>
      <xs:element type="VIN_RoleType" name="VIN_Role"/>
      <xs:element type="VIN_Progressif_RoleType" name="VIN_Progressif_Role"/>
      <xs:element type="VIN_Identifiant_ClientType" name="VIN_Identifiant_Client"/>
      <xs:element type="VIN_Type_ClientType" name="VIN_Type_Client"/>
      <xs:element type="VIN_Forme_JuridiqueType" name="VIN_Forme_Juridique"/>
      <xs:element type="VIN_Part_PMType" name="VIN_Part_PM"/>
      <xs:element type="VIN_SexeType" name="VIN_Sexe"/>
      <xs:element type="VIN_Date_NaissanceType" name="VIN_Date_Naissance"/>
      <xs:element type="VIN_Date_Creat_EntrType" name="VIN_Date_Creat_Entr"/>
      <xs:element type="VIN_Nouveau_Client_ONType" name="VIN_Nouveau_Client_ON"/>
      <xs:element type="VIN_NationaliteType" name="VIN_Nationalite"/>
      <xs:element type="VIN_Date_EmbaucheType" name="VIN_Date_Embauche"/>
      <xs:element type="VIN_Date_Creation_RCType" name="VIN_Date_Creation_RC"/>
      <xs:element type="VIN_Situation_LogementType" name="VIN_Situation_Logement"/>
      <xs:element type="VIN_ProfessionType" name="VIN_Profession"/>
      <xs:element type="VIN_Code_ActiviteType" name="VIN_Code_Activite"/>
      <xs:element type="VIN_Date_Integration_SocieteType" name="VIN_Date_Integration_Societe"/>
      <xs:element type="VIN_Code_VilleType" name="VIN_Code_Ville"/>
      <xs:element type="VIN_Code_BanqueType" name="VIN_Code_Banque"/>
      <xs:element type="VIN_Date_Relation_BanqueType" name="VIN_Date_Relation_Banque"/>
      <xs:element type="VIN_Nbr_Anciens_DossiersType" name="VIN_Nbr_Anciens_Dossiers"/>
      <xs:element type="VIN_Black_ListType" name="VIN_Black_List"/>
      <xs:element type="VIN_Revenus_MensuelsType" name="VIN_Revenus_Mensuels"/>
      <xs:element type="VIN_Autre_RevenusType" name="VIN_Autre_Revenus"/>
      <xs:element type="VIN_Revenu_ConjointType" name="VIN_Revenu_Conjoint"/>
      <xs:element type="VIN_Autre_ChargesType" name="VIN_Autre_Charges"/>
      <xs:element type="VIN_Charge_ImmType" name="VIN_Charge_Imm"/>
      <xs:element type="VIN_Credit_LogementType" name="VIN_Credit_Logement"/>
      <xs:element type="VIN_Max_Nbr_ImpayesType" name="VIN_Max_Nbr_Impayes"/>
      <xs:element type="VIN_Mt_ImpayesType" name="VIN_Mt_Impayes"/>
      <xs:element type="VIN_Max_Nbr_Mois_RetardType" name="VIN_Max_Nbr_Mois_Retard"/>
      <xs:element type="VIN_Total_Mt_NegativeType" name="VIN_Total_Mt_Negative"/>
      <xs:element type="VIN_Solde_InitType" name="VIN_Solde_Init"/>
      <xs:element type="VIN_Credit_M_1Type" name="VIN_Credit_M_1"/>
      <xs:element type="VIN_Credit_M_2Type" name="VIN_Credit_M_2"/>
      <xs:element type="VIN_Credit_M_3Type" name="VIN_Credit_M_3"/>
      <xs:element type="VIN_Debit_M_1Type" name="VIN_Debit_M_1"/>
      <xs:element type="VIN_Debit_M_2Type" name="VIN_Debit_M_2"/>
      <xs:element type="VIN_Debit_M_3Type" name="VIN_Debit_M_3"/>
      <xs:element type="VIN_SourceType" name="VIN_Source"/>
      <xs:element type="VIN_Reference_Progressif_RoleType" name="VIN_Reference_Progressif_Role"/>
      <xs:element type="VIN_Numero_ChequiersType" name="VIN_Numero_Chequiers"/>
      <xs:element type="VIN_Date_EffetType" name="VIN_Date_Effet"/>
      <xs:element type="VIN_Date_SortieType" name="VIN_Date_Sortie"/>
      <xs:element type="VIN_Statut_ChequiersType" name="VIN_Statut_Chequiers"/>
      <xs:element type="VIN_Montant_ChequierType" name="VIN_Montant_Chequier"/>
      <xs:element type="VIN_Produit_AffaireType" name="VIN_Produit_Affaire"/>
      <xs:element type="VIN_ContentieuxType" name="VIN_Contentieux"/>
      <xs:element type="VIN_Nbr_ImpayesType" name="VIN_Nbr_Impayes"/>
      <xs:element type="VIN_Nbr_Impayes_12Type" name="VIN_Nbr_Impayes_12"/>
      <xs:element type="VIN_Date_Premiere_EcheanceType" name="VIN_Date_Premiere_Echeance"/>
      <xs:element type="VIN_Date_Creation_AffaireType" name="VIN_Date_Creation_Affaire"/>
      <xs:element type="VIN_CompensationType" name="VIN_Compensation"/>
      <xs:element type="VIN_CRDType" name="VIN_CRD"/>
      <xs:element type="VIN_SOLDEType" name="VIN_SOLDE"/>
      <xs:element type="VIN_Statut_AffaireType" name="VIN_Statut_Affaire"/>
      <xs:element type="VIN_Mt_Premiere_Echeanche_Ancienne_AffaireType" name="VIN_Mt_Premiere_Echeanche_Ancienne_Affaire"/>
      <xs:element type="VIN_Nbr_IncidentsType" name="VIN_Nbr_Incidents"/>
      <xs:element type="VIN_Loyer_EkipType" name="VIN_Loyer_Ekip"/>
      <xs:element type="VIN_Loyer_Ekip_CompType" name="VIN_Loyer_Ekip_Comp"/>
      <xs:element type="VIN_Loyer_FrontType" name="VIN_Loyer_Front"/>
      <xs:element type="VIN_Role_Ancienne_AffaireType" name="VIN_Role_Ancienne_Affaire"/>
      <xs:element type="VIN_MarcheType" name="VIN_Marche"/>
      <xs:element type="VIN_SegmentType" name="VIN_Segment"/>
      <xs:element type="VIN_EmployeurType" name="VIN_Employeur"/>
      <xs:element type="VIN_FonctionType" name="VIN_Fonction"/>
      <xs:element type="VIN_DATE_FIN_CONTRATType" name="VIN_DATE_FIN_CONTRAT"/>
      <xs:element type="VIN_FLAG_SINISTREType" name="VIN_FLAG_SINISTRE"/>
      <xs:element type="VIN_TYPE_GARANTIEType" name="VIN_TYPE_GARANTIE"/>
      <xs:element type="VIN_MONTANT_EXPERTISEType" name="VIN_MONTANT_EXPERTISE"/>
      <xs:element type="VIN_DATE_CERTIFICATType" name="VIN_DATE_CERTIFICAT"/>
      <xs:element type="VIN_QUOTE_PART_GRType" name="VIN_QUOTE_PART_GR"/>
      <xs:element type="VIN_VILLE_BIENType" name="VIN_VILLE_BIEN"/>
      <xs:element type="VIN_Rang_GarantieType" name="VIN_Rang_Garantie"/>
      <xs:element type="VIN_TYPE_CONTRATType" name="VIN_TYPE_CONTRAT"/>
      <xs:element type="VIN_ECHEANCE_RESTANTEType" name="VIN_ECHEANCE_RESTANTE"/>
      <xs:element type="VIN_ONUType" name="VIN_ONU"/>
      <xs:element type="VIN_annee_bilanType" name="VIN_annee_bilan"/>
      <xs:element type="VIN_CTRL_INFORISKType" name="VIN_CTRL_INFORISK"/>
      <xs:element type="VIN_STOCKSType" name="VIN_STOCKS"/>
      <xs:element type="VIN_CREANCE_ACTIF_CIRCType" name="VIN_CREANCE_ACTIF_CIRC"/>
      <xs:element type="VIN_TRESORERIE_ACTIFType" name="VIN_TRESORERIE_ACTIF"/>
      <xs:element type="VIN_TOTAL_ACTIFType" name="VIN_TOTAL_ACTIF"/>
      <xs:element type="VIN_CAPITAUX_PROPRESType" name="VIN_CAPITAUX_PROPRES"/>
      <xs:element type="VIN_DETTES_FINANCEMENTType" name="VIN_DETTES_FINANCEMENT"/>
      <xs:element type="VIN_PROVISION_RISQUE_CHARGEType" name="VIN_PROVISION_RISQUE_CHARGE"/>
      <xs:element type="VIN_ECART_CONV_PASSIF_FIN_PERMANENTType" name="VIN_ECART_CONV_PASSIF_FIN_PERMANENT"/>
      <xs:element type="VIN_DETTES_PASSIF_CIRCType" name="VIN_DETTES_PASSIF_CIRC"/>
      <xs:element type="VIN_AUTRES_PROVISION_RISQUE_CHARGEType" name="VIN_AUTRES_PROVISION_RISQUE_CHARGE"/>
      <xs:element type="VIN_ECART_CONV_PASSIF_CIRCType" name="VIN_ECART_CONV_PASSIF_CIRC"/>
      <xs:element type="VIN_TOTAL_PASSIF_CIRCType" name="VIN_TOTAL_PASSIF_CIRC"/>
      <xs:element type="VIN_CHIFFRE_AFFAIRE_N1Type" name="VIN_CHIFFRE_AFFAIRE_N1"/>
      <xs:element type="VIN_CHIFFRE_AFFAIRE_N0Type" name="VIN_CHIFFRE_AFFAIRE_N0"/>
      <xs:element type="VIN_VARIATION_STOCK_PDTType" name="VIN_VARIATION_STOCK_PDT"/>
      <xs:element type="VIN_AUTRES_PDT_EXPLType" name="VIN_AUTRES_PDT_EXPL"/>
      <xs:element type="VIN_ACHAT_REVENDU_MARCHANDISEType" name="VIN_ACHAT_REVENDU_MARCHANDISE"/>
      <xs:element type="VIN_ACHAT_CONS_MATIERE_FOURNITUREType" name="VIN_ACHAT_CONS_MATIERE_FOURNITURE"/>
      <xs:element type="VIN_DOTATION_EXPLOITATION_N1Type" name="VIN_DOTATION_EXPLOITATION_N1"/>
      <xs:element type="VIN_DOTATION_EXPLOITATION_N0Type" name="VIN_DOTATION_EXPLOITATION_N0"/>
      <xs:element type="VIN_CHARGE_FINType" name="VIN_CHARGE_FIN"/>
      <xs:element type="VIN_RESULTAT_FINType" name="VIN_RESULTAT_FIN"/>
      <xs:element type="VIN_RESULTAT_NET_N1Type" name="VIN_RESULTAT_NET_N1"/>
      <xs:element type="VIN_RESULTAT_NET_N0Type" name="VIN_RESULTAT_NET_N0"/>
      <xs:element type="VIN_IE_AFFAIRE_OLDType" name="VIN_IE_AFFAIRE_OLD"/>
      <xs:element type="VIN_Flag_ReportType" name="VIN_Flag_Report"/>
      <xs:element type="VIN_Date_Dernier_IMPType" name="VIN_Date_Dernier_IMP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecordRRType">
    <xs:sequence>
      <xs:element type="RecordType" name="Record" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element type="RecordNRType" name="RecordNR"/>
      <xs:element type="RecordRRType" name="RecordRR"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>