src/main/resources/SonePersistRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sonePersistRequest.ws.sofac.ma" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SOnePersistRequestImplService" targetNamespace="http://sonePersistRequest.ws.sofac.ma">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sonePersistRequest.ws.sofac.ma" elementFormDefault="unqualified" targetNamespace="http://sonePersistRequest.ws.sofac.ma" version="1.0">

  <xs:element name="OutputData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codeRetour" type="xs:string"/>
        <xs:element name="messageRetour" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="persist" type="tns:persist"/>

  <xs:element name="persistResponse" type="tns:persistResponse"/>

  <xs:complexType name="persist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="presCore" type="xs:string"/>
            <xs:element minOccurs="0" name="scorInteg" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="persistResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputData">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="codeRetour" type="xs:string"/>
            <xs:element name="messageRetour" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="persistResponse">
    <wsdl:part element="tns:persistResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="persist">
    <wsdl:part element="tns:persist" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SOnePersistRequest">
    <wsdl:operation name="persist">
      <wsdl:input message="tns:persist" name="persist">
    </wsdl:input>
      <wsdl:output message="tns:persistResponse" name="persistResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOnePersistRequestImplServiceSoapBinding" type="tns:SOnePersistRequest">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="persist">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="persist">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="persistResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOnePersistRequestImplService">
    <wsdl:port binding="tns:SOnePersistRequestImplServiceSoapBinding" name="SOnePersistRequestPort">
      <soap:address location="http://172.20.50.171:8080/persistance/services/SonePersistRequest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>